<div class="d-flex row justify-content-center">
  <div class="raw d-flex bg-white col-8 p-0">
    <div class="col-auto">
      <img src="{{user.image}}" alt="user image" style="width: 300px; transition: opacity 0.5s; opacity:0;"
        onload="this.style.opacity=1;">
    </div>
    <div class="col-8">
      <div class="m-5">
        <p class="fw-bold fs-5">{{user.name}}</p>
        <p>{{user.email}}</p>
        <p class="fw-semibold">{{#if user.CommentedRestaurants
          }}{{user.CommentedRestaurants.length}}間已評論過的餐廳{{else}}目前沒評論過餐廳。{{/if}}</p>
        <form action="/users/{{user.id}}/edit" method="get">
          <button type="submit" class="btn btn-primary">Edit</button>
        </form>
      </div>
    </div>

  </div>
  <div class="col-8 p-0 mt-5">
    <div class="card p-0">
      <div class="card-header">
        {{user.CommentedRestaurants.length}}已評論過的餐廳
      </div>
      <ul class="list-group list-group-flush d-flex flex-row p-2">
        {{#each user.CommentedRestaurants}}
        <a href="/restaurants/{{this.id}}" class="m-2">
          <img src="{{this.image}}" alt="restaurant-image"
            style="width: 100px; height: 100px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
        </a>
        {{/each}}
      </ul>
    </div>

  </div>

</div>